body {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 20px;
}
li {
   list-style-type: none;
   line-height: 150%;
}
h1 {
   font-size: 40px;
   font-weight: bold;
   border-bottom: 1px solid #C6EC8C;
}
.icon {
    border-radius: 5px;
    text-align: center;
    background-color: #10367f;
    color: #1e6be9;
}
.menu_icon {
    border-radius: 5px;
    text-align: center;
    background-color: #10367f;
    color: #1e6be9;
}

a:link, a:visited {    
    color: #1e6be9;    
}
#menu {
    border-radius: 10px;
    background-color: #1e6be9;
    color: #f9f9f9;
}

#loginout {
    text-align: right;
}
#lang {
    float: right;
}
#container {
    float: left;
    margin: auto;
    background-color: #f9f9f9;
}
#container #content {
    margin-top: 50px;
    margin-left: 50px;
}
#container #informations {
    margin: 50px; 
}
#container #content .letters {
    font-size: 50px;
}
#container #content #id_where {
    display:none;
}
#container #content #where label{
    display:none;
}

