{% extends "base.html" %}
{% block content %}
<a href="{% url start_play %}"> Nowa gra </a><br/>
Twój aktualny wynik: {{user.userprofile.last_score}}<br/>
Aktualny wyraz:<div class="letters"> 
    {% for letter in user.userprofile.last_temp_letters %}
    <a href="{% url letter_minus letter %}">
        <img src="{{STATIC_URL}}/letters/{{letter}}.jpg" alt="{{letter}}"></a>{% endfor %}</div>
Pozostałe literki:<div class="letters"> {% for letter in left_letters %}
    <a href="{% url letter_plus letter %}">
        <img src="{{STATIC_URL}}/letters/{{letter}}.jpg" alt="{{letter}}"></a>{% endfor %}</div>
<a href ="{% url check %}">Sprawdź słowo </a>
    {% if to_add and user.userprofile.last_temp_letters %}
        słowa "{{user.userprofile.last_temp_letters}}" nie ma w słowniku
        <a href='{% url 'add_word' user.userprofile.last_temp_letters request.path %}'> 
        Dodaj je do słownika<br/>
        {% endif %}<br/>
    <a href='{% url changeletters %}'> Wymień literki </a><br/>
{% endblock %}

