{% extends "base.html" %}
{% block content %}
Twój aktualny wynik: {{result}}<br/>
Aktualny wyraz:<div class="letters"> 
    {% for letter in temp_letters %}
    <a href="{{request.path}}/{{letter}}">
    <img src="/media/{{letter}}.jpg" alt="{{letter}}"></a>{% endfor %}</div>
Pozostałe literki:<div class="letters"> {% for letter in left_letters %}
    <a href="{{request.path}}{{letter}}">
    <img src="/media/{{letter}}.jpg" alt="{{letter}}"></a>{% endfor %}</div>
<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
    <input type="submit" name = "check" value = "submit"/><br/>
    {% if to_add and temp_letters%}
        słowa "{{temp_letters}}" nie ma w słowniku
        <a href='{% url 'add_word' temp_letters request.path %}'> 
        Dodaj je do słownika<br/>
        {% endif %}<br/>
    <a href='{% url 'changeletters' result all_letters %}'> Wymień literki </a><br/>
</form>
{% endblock %}

