<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> Scrabble helper</title>
    <link rel="stylesheet" href="/media/style.css">
    <script src="/media/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
                {% for language in languages %}
                $('#lang_{{language.short}}').bind('click', function(){
                    $.ajax({
                        type: "GET",
                        url: "{% url 'change_lang' language.short %}",
                        success: function(){
                        window.location.reload();
                        }
                        })
                    return false
                    })
                {% endfor %}
                })
        </script>
    {% block for_js %}{% endblock %}
    </head>
    <body>
    <div id="loginout">{% block loginout %}
        {% if user %}
            <a href = '{% url 'logout' request.path %}'>Wyloguj się </a>
            <a href = '{% url 'login' request.path %}'> Zaloguj się </a>
            <br/> jesteś zalogowany jako: {{user}}
        {% else %}
            <a href = '{% url 'login' request.path %}'> Zaloguj się </a>
            <a href = '{% url 'register' request.path %}'> Zarejestuj się </a>
            <br/> nie jesteś zalogowany
        {% endif %}{% endblock %}</div>
    <div id="menu"> {% block menu %}
        <span class="menu_icon">
            <a href={% url 'home' %}>Scrabble helper</a></span>
        <span class="menu_icon">
            <a href = '{% url 'find' %}'> Szukaj słów</a></span>
        {% if request.user.is_authenticated %}
            <span class="menu_icon">
            <a href = '{% url 'add' %}'> Dodaj słowa</a></span>
            {% endif %}
       <span class="menu_icon">
            <a href = '{% url 'play' %}'> Graj</a></span>{% endblock %}
       {% if request.user.is_authenticated %}
            <span class="menu_icon">
            <a href = '{% url 'account_settings' request.user.username %}'> Ustawienia konta</a></span>
       {% endif %}
</div>
    <div id="container">
        <div id="content">{% block content %} {% endblock %}</div>
        <div id="informations">{% block informations %}
        {% for message in messages %}
            {{message}}{% if forloop.last %}. {% else %}, {% endif %}<br/>
            {% endfor %}{%endblock %}</div></div>
    <div id="lang">
        aktualnie ustawiony język:
        <div class="icon" id="lang_{{lang}}">{{lang}}</div>
        zmień na:
        {% for language in languages %} {% ifnotequal lang language.short %}
            <div class="icon">
                <a href = '' id="lang_{{language.short}}">
                    {{language.short}} </a></div><br/>
    {% endifnotequal %}{% endfor %}</div>
    </body>
</html>
