<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> Scrabble helper</title>
    <link rel="stylesheet" href="/media/style.css">
    {% block for_js %}{% endblock %}
    </head>
<body>
    <div id="loginout">{% block loginout %}
        {% if user %}
        <a href = '{% url 'logout' request.path %}'>Wyloguj się </a>
        <a href = '{% url 'login' request.path %}'> Zaloguj się </a>
        <br/> jesteś zalogowany jako: {{user}}
        {% else %}
        <a href = '{% url 'login' request.path %}'> Zaloguj się </a>
        <a href = '{% url 'register' request.path %}'> Zarejestuj się </a>
        <br/> nie jesteś zalogowany
        {% endif %}
        {% endblock %}</div>
    <div id="menu"> {% block menu %}
        <span class="icon">
            <a href={% url 'home' %}>Scrabble helper</a></span>
        <span class="icon">
            <a href = '{% url 'find' %}'> Szukacz </a></span>
       <span class="icon">
           <a href = '{% url 'add' %}'> Dodawacz </a></span>
       <span class="icon">
           <a href = '{% url 'play' %}'> Graj </a></span>
        {% endblock %} </div>
    <div id="container">
        <div id="content">{% block content %} {% endblock %}</div>
        <div id="informations">{% block informations %}
        {% for message in messages %}
            {{message}}{% if forloop.last %}. {% else %}, {% endif %}<br/>
            {% endfor %}{%endblock %}</div>
        </div>
    <div id="lang">
        aktualnie ustawiony język:<div class="icon">{{lang}}</div><br/>
        zmień na: <div class="icon">
        {% ifequal lang 'pl' %}
        <a href = '{% url 'lang_en' request.path %}'> angielski </a>
        {% else %}
        <a href = '{% url 'lang_pl' request.path %}'> polski </a>
        {% endifequal %}</div>
        </div>
    </body>
</html>
