<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> Scrabble helper</title>
    <link rel="stylesheet" href="/media/style.css">
    </head>
<body>
        <div id="loginout">{% block loginout %}
            <a href = '/Logout{{ request.path }}'> Wyloguj się </a>
            <a href = '/Login{{ request.path }}'> Zaloguj się </a>
            <a href = '{% url 'register' request.path %}'> Zarejestuj się </a>
                    <br/><br/>{% endblock %}</div>
        <div id="menu">Scrabble helper</div>

        <div id="container">
            <div id="content">{% block content %} {% endblock %}</div>
            <div id="informations">{% block informations %}
            {% for message in messages %}
                {{message}}{% if forloop.last %}. {% else %}, {% endif %}<br/>
                {% endfor %}{%endblock %}</div>
        </div>
    </body>
</html>
