{% extends "base.html" %}
{% block for_js %}
  <script type="text/javascript">
      $(document).ready(function(){
        {% for field in form %}
        $('#id_{{field.name}}').focusout(function(){
            $('#id_{{field.name}}').parent().attr('class', 'control-group')
            $('#id_{{field.name}}').siblings('.errorlist').remove()})
        {% endfor %} })
  </script>
{% endblock %}
{% block content %}

    <form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
        <div class="control-group error">    
            {{ form.non_field_errors }}
        </div>
        {% for field in form %}
            {% if field.errors %}
            <div class="control-group error">
                {{ field.label_tag}}
                {{ field }}
                {{ field.errors }}
            </div>
            {% else %}
            <div class="control-group">    
                {{ field.label_tag}}
                {{ field.errors }}
                {{ field }}
            </div>
            {% endif %}
        {% endfor %}
    <div class="control-group">    
        {% block submit_button %} {% endblock %}
    </div>
  </form>

{% endblock %}
