{% extends "with_form.html" %}

{% block submit_button %}
      <input class="btn" type="submit" value="Dodaj słowo/a"/><br/>
{% endblock %}
{% block informations %}
    {{block.super}}
    {% if added_words %}
        {% if added_words|length == 1 %}
            To słowo to:
        {% else %}
            Te słowa to: 
            {% endif %}
        {% for word in added_words %}
            <li>{{word}}
            <a href = "{% url delete_word word request.path%}">
                usuń to słowo z bazy </a>
            {% if forloop.last %}. {% else %}, {% endif %}</li>
        {% endfor %}
    {% endif %}
{% endblock %}
