{% extends "base.html" %}

{% block content %}
<div class="todo-search">
  <form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
       Dodaj<br/>
      {% for field in form %}
      <h3>{{ field.errors }}
          {{ field.label_tag}}
          {{field.help_text}}
          {{ field }}</h3>
      {% endfor %}
  <input type="submit" name="add" value="Dodaj"/><br/>
</form>
    {% endblock %}
{% block informations %}
    {{block.super}}
    {% if added_words %}
        {% if added_words|length == 1 %}
            To słowo to:
        {% else %}
            Te słowa to: 
            {% endif %}
        {% for word in added_words %}
            <li>{{word}}
            <a href = "{% url 'delete_word' word request.path%}">
                usuń to słowo z bazy </a>
            {% if forloop.last %}. {% else %}, {% endif %}</li>
            {% endfor %}
        {% endif %}
{% endblock %}
