{% extends "with_form.html" %}

{% block submit_button %}
      <input class="btn" type="submit" name="find" value="Szukaj słów"/><br/>
{% endblock %}
{% block informations %}
  {{block.super}}
  {% if words %} Możesz ułożyć słowa:
    <ul>
      {% for temp_word in words %}
        {% ifchanged temp_word.points %}
          za {{ temp_word.points}} 
            {% if temp_word.points > 4 %}punktów:
            {% else %} punkty:
            {% endif %}
        {% endifchanged %}
        <li><b>{{ temp_word }}</b>, które zostało dodane przez 
          {% for name in temp_word.added_by.all %}
            <b> {{ name }}</b>{% if forloop.last %}. {% else %}, {% endif %}
          {% endfor %}
          <a href = "{% url 'delete_word' temp_word request.path %}">
              usuń to słowo z bazy 
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %} 
    {% if word %} 
    Nie możesz ułożyć żadnego słowa ze swoich literek korzystając z tej bazy. 
    {% endif %}
  {% endif %}
{% endblock %}
