{% extends "base.html" %}

{% block content %}
<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
    Szukaj słowa<br/>
    <input type="radio" name = "where" value = "DbResult"/>w całej bazie<br/>
    <input type="radio" name = "where" value = "MyResult"/>wśród moich wyrazów<br/>
    z literek:<input type="text" name = "word_to_check"><br/> 
    napisz "*" w przypadku dowolnej litery <br/>
    <input type="submit" name="find" value="Szukaj"/><br/><br/> 
    </form>

{% endblock %}
        
