{% extends "base.html" %}

{% block content %}
<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
    Szukaj słowa<br/>
    {% for field in form %}<div id="{{field.name}}">
        {{ field.errors }}
        {{ field.label_tag}} {{ field }}<br/>
        <span class="helptext">{{field.help_text}}</span>
        </div>{% endfor %}
    <input type="submit" name="find" value="Szukaj"/><br/><br/> 
</form>

{% if words %} Możesz ułożyć takie słowa, jak:
    <ul>{% for temp_word in words %}
        <li><b>{{ temp_word }}</b>, które zostało dodane przez 
        {% for name in temp_word.added_by.all %}
            <b> {{ name }}</b>{% if forloop.last %}. {% else %}, {% endif %}
            {% endfor %}
            <a href = "{% url 'delete_word' temp_word request.path %}">
                usuń to słowo z bazy </a></li>
        {% endfor %}</ul>
    {% else %} 
    {% if word %} Nie możesz ułożyć żadnego słowa ze wszystkich literek. {% endif %}
    {% endif %}
    {% endblock %}
{% block for_js %}
<script src="/media/find_form.js" type='text/javascript'>
</script>{% endblock %}

